<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask Crypto{% endblock %}</title>

    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <main class="container">
    <nav>
    <ul>
        <li><strong>Flask Crypto</strong></li>
    </ul>
    <ul>
        <li>
            {% if active_page == "home" %}
                <strong>Inicio</strong>
            {% else %}
                <a href="/">Inicio</a>
            {% endif %}
        </li>
        <li>
            {% if active_page == "purchase" %}
                <strong>Compra</strong>
            {% else %}
                <a href="/purchase">Compra</a>
            {% endif %}
        </li>
        <li>
            {% if active_page == "status" %}
                <strong>Estado</strong>
            {% else %}
                <a href="/status">Estado</a>
            {% endif %}
        </li>
    </ul>
</nav>




        {% block content %}{% endblock %}
    </main>

    <footer class="container">
        <small>Proyecto final Keepcoding</small>
    </footer>
</body>
</html>
